:root {
  --color-primario: #ce7727;
  --color-secundario: #29c4d9;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-p: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  font-size: var(--font-size-p)
}

h2 {
  font-size: var(--font-size-h2);
  letter-spacing: 0.5px;
}

h3 {
  font-size: var(--font-size-h3);
  letter-spacing: 0.5px;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1300px;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  border-radius: 8px;
  padding: 1vh 2vh;
  border: solid 2px var(--color-secundario);
  font-size: var(--font-size-p);
}

.containerAside {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerAside>aside {
  width: 27%;
}

.containerAside>div {
  width: 70%;
}